PROJECT_NAME=registro_impresion
PYTHON_ENV=development

INPUT_EXCEL_DIR=data/input/excel
INPUT_PDF_DIR=data/input/pdf_referencia
OUTPUT_XLSX_DIR=data/output/xlsx_ajustados
OUTPUT_PDF_DIR=data/output/pdf_generados
TEMP_DIR=data/temp
LOG_LEVEL=INFO

STOP_SHEET_NAME=Reportes de Calificaciones
TARGET_WORKBOOK=2A SEGUNDO A 2025 - 2026 REGISTRO DE GRADO CEJOMA ORD. 04 2023.xlsx
REFERENCE_PDF=Registro-2do-Grado-Sec-General-1-1.pdf